<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WSG App</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"-->
<!--            crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5af5eb3f80.js" crossorigin="anonymous"></script>

</head>
<body>

<!-- Navigation -->
<div class="pos-f-t">
    <div class="collapse " id="navbarToggleExternalContent">
        <div class="d-flex bd-highlight">
            <div class="bg-white p-4 flex-grow-1 bd-highlight">
                <h5 class="text-dark h4">Thank you for using WSG App</h5>
                <span class="text-muted">See you later.</span>
                <div class="p-4 bd-highlight">
                    <a class="btn btn-outline-danger shadow bg-body rounded " th:href="@{/logout}">Logout
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white p-4 flex-grow-2 bd-highlight">
                <h5 class="text-dark h4">Check saved employees</h5>
                <span class="text-muted">Shows list of all saved employees in database</span>
                <div class="p-4 bd-highlight">
                    <a class="btn btn-outline-dark shadow bg-body rounded " th:href="@{/home/list-of-employees}">Show list
                        <i class="fas fa-user-friends"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-light sticky-top d-flex bd-highlight">
    <div class="navbar-brand mr-auto p-2 bd-highlight" href="#">
        <img src="https://i.imgur.com/QbLHnon.png" width="100" height="30" class="d-inline-block align-top" alt="">
    </div>
    <div class="p-2 bd-highlight lead" th:text="'Welcome, ' + ${appuser}"></div>
    <div class="p-2 bd-highlight">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="jumbotron jumbotron-fluid container text-center">
        <div>
            <h1 class="display-4">Add first employee to the schedule</h1>
            <p>Type name and select available days for the employee</p>
            <p class="font-weight-light">Creating schedule for
                <a th:text="${schedule.monthName}" class="font-weight-bold"> </a>
                <a th:text="${schedule.year}" class="font-weight-bold"></a>
            </p>

            <hr class="my-4">
        </div>

        <form method="post" th:action="@{/home/add-employees}" th:object="${addedEmployee}">

            <div>

                <div class="form-group row">
                    <div class="col">
                        <label class="col-form-label form-control-lg ">
                            <input type="text" class="form-control shadow bg-body rounded" id="name" placeholder="Name"
                                   th:field="*{name}" required
                                   minlength="1" maxlength="25">
                        </label>
                    </div>
                </div>

                <div class="form-group row form-control-lg">
                    <div class="col">
                        <label class="col-form-label">
                            <input class="form-control shadow bg-body rounded" type="text" id="datepicker_day"
                                   placeholder="Availability"  th:field="*{availability}" required>
                        </label>
                    </div>
                </div>

                <div>
                    <div class="col">
                        <label class="col-form-label">
                            <button type="submit" class="btn btn-outline-primary shadow bg-body rounded">Add
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </label>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

</body>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    var year = parseInt(/*[[${pickedYear}]]*/ 'default');
    var month = parseInt(/*[[${pickedMonth}]]*/ 'default');
    var days = parseInt(/*[[${days}]]*/ 'default');
    var beginningDate = new Date(year, month - 1, 1);
    var lastDate = new Date(year, month - 1, days);

    $("#datepicker_day").datepicker({
        multidate: true,
        format: " dd",
        viewMode: "days",
        minViewMode: "days",
        maxViewMode: "days",
        keyboardNavigation: "false",
        startDate: beginningDate,
        endDate: lastDate,
        disableTouchKeyboard: "true"
    });
    /*]]>*/
</script>


</html>