<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WSG App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
    <img src="https://i.imgur.com/QbLHnon.png" width="100" height="30" class="d-inline-block align-top" alt="">
  </a>
</nav>

<div class="jumbotron jumbotron-fluid ">


    <div th:if="${isAdded}" role="alert" aria-live="assertive" aria-atomic="true" class="toast justify-content-center align-items-center" data-autohide="false" style="position: relative;  left: 40px;">
      <div class="toast-header">
        <img src="https://i.imgur.com/MLVnCrR.png" class="rounded " alt="...">
        <strong class="mr-auto">Added</strong>
        <small>while ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Employee <a class="font-weight-bold" th:text="${name}"></a> added
      </div>
    </div>

    <div th:if="${isEdited}" role="alert" aria-live="assertive" aria-atomic="true" class="toast justify-content-center align-items-center" data-autohide="false" style="position: relative;  left: 40px;">
      <div class="toast-header">
        <img src="https://i.imgur.com/U5qaAlS.png" class="rounded mr-2" alt="...">
        <strong class="mr-auto">Edited</strong>
        <small>while ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Employee <a class="font-weight-bold" th:text="${name}"></a> edited
      </div>
    </div>

    <div th:if="${#request.getParameter('isDeleted')}" role="alert" aria-live="assertive" aria-atomic="true" class="toast justify-content-center align-items-center" data-autohide="false" style="position: relative;  left: 40px;">
      <div class="toast-header">
        <img src="https://i.imgur.com/LJHv878.png" class="rounded mr-2" alt="...">
        <strong class="mr-auto">Deleted</strong>
        <small>while ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">doc
        Employee <a class="font-weight-bold" th:text="${#request.getParameter('name')}"></a> deleted
      </div>
    </div>


  <div class="jumbotron jumbotron-fluid container text-center">


<!--    <div th:if="${isAdded}" class="alert alert-success shadow bg-body rounded fade show" role="alert">-->
<!--      Employee <a class="font-weight-bold" th:text="${name}"></a> added-->
<!--    </div>-->

<!--    <div th:if="${isEdited}" class="alert alert-info shadow bg-body rounded  fade show" role="alert">-->
<!--      Employee <a class="font-weight-bold" th:text="${name}"></a> edited-->
<!--    </div>-->

<!--    <div th:if="${#request.getParameter('isDeleted')}" class="alert alert-danger shadow bg-body rounded  fade show" role="alert">-->
<!--      Employee <a class="font-weight-bold" th:text="${#request.getParameter('name')}"></a> deleted-->
<!--    </div>-->

    <div>
      <h1 class="display-4">Add another employee to the schedule</h1>
      <p>Type name and select available days for the employee</p>
      <hr class="my-4">
    </div>


    <form method="post" th:action="@{/home/add-employees}"  th:object="${addedEmployee}">

      <div>

        <div class="form-group row">
          <div class="col">
            <label class="col-form-label form-control-lg">
              <input type="text" class="form-control shadow bg-body rounded" id="name" placeholder="Name"  th:field="*{name}" required
                     minlength="1" maxlength="25" >
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label class="col-form-label form-control-lg">
              <input class="form-control shadow bg-body rounded" type="text" id="datepicker_day" placeholder="Availability" readonly="readonly" th:field="*{availability}" required>
            </label>
          </div>
        </div>

        <div>
          <div class="col">
            <label class="col-form-label">
             <button type="submit" class="btn btn-outline-primary shadow bg-body rounded" >Add</button>
            </label>
          </div>
        </div>

      </div>
    </form>
  </div>
  </div>
</div>

  <div class="row">
    <div class="container text-center">
      <table class="table  table-striped table-hover caption-top shadow bg-body rounded" style="width: 100%">
        <caption>List of added users</caption>
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Availability</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee :${employeeList}">
          <th scope="row" th:text="${employeeStat.index+1}"></th>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.availability}"></td>
          <td>
            <a  th:href="@{/home/delete-employee/__${employee.name}__}" class="btn btn-danger shadow bg-body rounded">Delete</a>
          </td>

        </tr>
        </tbody>

      </table>
        <div class="jumbotron">
          <p class="lead">
            Show information about generating algorithms
          </p>

          <p>
            <button class="btn btn-primary shadow bg-body rounded" type="button" data-toggle="collapse" data-target="#boe" aria-expanded="true" aria-controls="boe">
              BOE
            </button>
            <button class="btn btn-primary shadow bg-body rounded" type="button" data-toggle="collapse" data-target="#boa" aria-expanded="true" aria-controls="boa">
              BOA
            </button>
          </p>

          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="boe">
                <div class="card card-body font-weight-light">
                  <p class="lead font-weight-bolder">BOE - Based On Equality</p>
                  <hr class="my-4">
                  Algorithm spares the work equally. Everyone has almost the same amount of working days.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="boa">
                <div class="card card-body font-weight-light">
                  <p class="lead font-weight-bolder">BOA - Based On Availability</p>
                  <hr class="my-4">
                  Algorithm spares the work considering everyone's availability. The more you are available, the more days you work.
                </div>
              </div>
            </div>
          </div>
        <p>
        <div class="dropdown">
          <button class="btn btn-outline-dark dropdown-toggle btn-lg shadow bg-body rounded" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Generate schedule using:
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">BOE</a>
            <a class="dropdown-item" href="#">BOA</a>
          </div>
        </div>
        </p>
      </div>


    </div>
  </div>

</body>

<script th:inline="javascript" type="text/javascript">
  /*<![CDATA[*/

  var year = parseInt(/*[[${pickedYear}]]*/ 'default');
  var month = parseInt(/*[[${pickedMonth}]]*/ 'default');
  var days = parseInt(/*[[${days}]]*/ 'default');

  var beginningDate = new Date(year, month-1,1);
  var lastDate = new Date(year, month-1,days);
  $("#datepicker_day").datepicker( {
    multidate: true,
    format: " dd",
    viewMode: "days",
    minViewMode: "days",
    maxViewMode: "days",
    keyboardNavigation: "false",
    startDate: beginningDate,
    endDate: lastDate
  });
  /*]]>*/
</script>

<script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
</script>

</html>